<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
     <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>JwtAuthFilter</filter-name>
        <filter-class>com.estudyplus.controlador.api.JwtAuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JwtAuthFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SesionEstudioApiServlet</servlet-name>
        <servlet-class>com.estudyplus.controlador.api.SesionEstudioApiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioApiServlet</servlet-name>
        <servlet-class>com.estudyplus.controlador.api.UsuarioApiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntregaApiServlet</servlet-name>
        <servlet-class>com.estudyplus.controlador.api.EntregaApiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamenApiServlet</servlet-name>
        <servlet-class>com.estudyplus.controlador.api.ExamenApiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogProductividadApiServlet</servlet-name>
        <servlet-class>com.estudyplus.controlador.api.LogProductividadApiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TecnicaEstudioApiServlet</servlet-name>
        <servlet-class>com.estudyplus.controlador.api.TecnicaEstudioApiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrupoEstudioApiServlet</servlet-name>
        <servlet-class>com.estudyplus.controlador.api.GrupoEstudioApiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParticipanteGrupoApiServlet</servlet-name>
        <servlet-class>com.estudyplus.controlador.api.ParticipanteGrupoApiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthApiServlet</servlet-name>
        <servlet-class>com.estudyplus.controlador.api.AuthApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SesionEstudioApiServlet</servlet-name>
        <url-pattern>/api/sesiones/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioApiServlet</servlet-name>
        <url-pattern>/api/usuarios/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntregaApiServlet</servlet-name>
        <url-pattern>/api/entregas/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamenApiServlet</servlet-name>
        <url-pattern>/api/examenes/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogProductividadApiServlet</servlet-name>
        <url-pattern>/api/logs-productividad/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TecnicaEstudioApiServlet</servlet-name>
        <url-pattern>/api/tecnicas/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrupoEstudioApiServlet</servlet-name>
        <url-pattern>/api/grupos-estudio/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParticipanteGrupoApiServlet</servlet-name>
        <url-pattern>/api/participantes-grupo/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthApiServlet</servlet-name>
        <url-pattern>/auth/login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
